@use "../../utilities/variables/" as v;
@import "../../utilities/variables.scss";

.button {
  @include v.label-large;
  display: flex;
  gap: 8px;
  color: v.$color-on-secondary-container-dark;
  background-color: v.$color-secondary-container-dark;
  height: 40px;
  padding: 10px 24px 10px 16px;
  border-radius: 100px;
  border: none;
  &:hover {
    opacity: 0.92;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
      0px 1px 2px rgba(0, 0, 0, 0.3);
  }
  &:focus {
    opacity: 0.88;
  }
  &:active {
    opacity: 0.78;
  }
  &:disabled {
    color: v.$color-on-surface-dark;
  }
  &--alert {
    background-color: v.$color-error-dark;
    color: v.$color-on-error-dark;
  }
  &--primary {
    background-color: v.$color-primary-dark;
    color: v.$color-on-primary-dark;
  }
  &--text-only {
    color: v.$color-primary-dark;
    background-color: transparent;
    &:hover {
      background-color: #423e46;
      border: none;
      box-shadow: none;
    }
    &:focus,
    &:active {
      background-color: #48444e;
      color: v.$color-primary-dark;
    }
    &:disabled {
      color: v.$color-on-surface-dark;
    }
  }
}
