@use "../../utilities/variables/" as v;

.delete {
  @include v.label-large;
  display: flex;
  justify-content: end;
  color: v.$color-on-secondary-container-dark;
  background-color: transparent;
  border: none;
}
