@use "../../utilities/variables/" as v;

.tasks-sidebar {
  position: relative;
  flex-direction: column;
  min-width: 340px;
  width: 340px;
  height: 100vh;
  padding: 12px;
  background-color: v.$color-surface-1-dark;
  &__button-wrapper {
    margin: 0 0 0 auto;
    justify-content: end;
    width: max-content;
    padding: 12px;
  }
}
