@use "../../utilities/variables/" as v;

.entry-name {
  font-size: 24px;
  margin: 10px;
}

.journal-form {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-width: 50vh;
  height: 100vh;
  background-color: v.$color-surface-dark;
  color: v.$color-on-surface-variant-dark;
}

.form-container {
  flex-direction: column;
  width: 80%;
  height: 90vh;
  background-color: v.$color-surface-dark;
  padding: 20px;
  margin: 0px;
}

.mood-busy-container {
  display: grid;
  grid-template-columns: 3fr 3fr;
  gap: 5px;
}
