@use "../../utilities/variables/" as v;

.busyContainer {
  @include v.label-large;
  padding: 5px;
  border-radius: 10px;
  height: 80px;
  background-color: v.$color-secondary-container-dark;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  &__busyBar {
    width: 90%;
    height: 8px;
    background-color: v.$color-primary-dark;
    border-radius: 5px;
  }
  &__value {
    color: v.$color-primary-dark;
    position: absolute;
    left: 5px;
    top: 5px;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  height: 8px;
  border-radius: 5px;
  background-color: v.$color-primary-dark;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: v.$color-primary-dark;
  cursor: pointer;
}
