@use "../../utilities/variables/" as v;

.container {
  display: flex;
  width: 700px;
  height: 220px;
  border-radius: 5px;
  border: none;
  margin: 20px auto;
  background-color: v.$color-secondary-container-dark;
}

.line1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  background-color: v.$color-surface-dark;
  border-radius: 5px;
  border: none;
  overflow: hidden;
  float: left;
}

.line1 label {
  float: left;
  line-height: 3em;
  width: 7em;
  height: 2em;
}

.line1 label span {
  display: flex;
  justify-content: center;
  padding: 2px 0;
  display: block;
}

.line1 label input {
  position: absolute;
  display: none;
  color: #fff !important;
}
/* selects all of the text within the input element and changes the color of the text */
.line1 label input + span {
  color: #fff;
}

/* This will declare how a selected input will look giving generic properties */
.line1 input:checked + span {
  color: #ffffff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

/*
This following statements selects each category individually that contains an input element that is a checkbox and is checked (or selected) and chabges the background color of the span element.
*/

.excited input:checked + span {
  background-color: #f75a1b;
}
.joyful input:checked + span {
  background-color: #1bb8f7;
}
