@use "../../utilities/variables/" as v;

.feel-header {
  margin: 10px 20px;
}

.feel-container {
  display: block;
  border-radius: 5px;
  border: none;
  margin: 20px auto;
  padding: 2px;
  background-color: v.$color-secondary-container-dark;
  &__positive {
    display: flex;
    height: 20%;
    width: 95%;
    margin: 10px;
    color: #c1e5c0;
  }
  &__neutral {
    display: flex;
    height: 20%;
    width: 95%;
    margin: 10px;
    color: #c0dae5;
  }
  &__negative {
    display: flex;
    height: 20%;
    width: 95%;
    margin: 10px;
    color: #ffc278;
  }
}
.positive,
.neutral,
.negative {
  display: flex;
  justify-content: center;
  flex-grow: 4;
  margin: 2px;
  background-color: v.$color-surface-dark;
  border-radius: 5px;
  border: none;
  padding: 0.3em;
}
.feel-container label {
  display: flex;
  align-items: center;
  width: auto;
  height: 2em;
}

.feel-container label input {
  position: absolute;
  display: none;
}

.excited input:checked + span {
  background-color: #f75a1b;
}
.joyful input:checked + span {
  background-color: #1bb8f7;
}
