@use "../../utilities/variables/" as v;

.moodContainer {
  @include v.label-large;
  border-radius: 10px;
  height: 80px;
  background-color: v.$color-secondary-container-dark;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.moodBar {
  width: 90%;
  height: 8px;
  background-color: v.$color-primary-dark;
  border-radius: 5px;
}
.moodThumb {
  height: 20px;
  width: 20px;
  background-color: v.$color-primary-dark;
  border-radius: 20px;
}
