@use "../../utilities/variables/" as v;

.tasks {
  display: flex;
  align-items: center;
  margin-left: 80px;
  background-color: v.$color-background-dark;
  &--active {
    background-color: red;
  }
}
