@use "../../utilities/variables/" as v;

.tasks-sidebar-tab {
  @include v.label-large;
  color: v.$color-on-surface-variant-dark;
  padding: 16px 24px 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: v.$color-surface-1-dark;
  width: 100%;
  height: 56px;
  border-radius: 100px;
  border: none;
  &__wrapper {
    display: flex;
    gap: 12px;
  }
  &:hover {
    background-color: #343239;
  }
  &:focus {
    background-color: #3d3a40;
  }
  &:active {
    background-color: v.$color-secondary-container-dark;
    color: v.$color-on-secondary-container-dark;
  }
  .material-icons {
    max-width: 18px;
    max-height: 18px;
  }
}
